{% load static %}

   <!--SECTION ABOUT-->
    <Section class="about my-5" id="about">
        <div class="container">
            
                <div class="col-ms-12 text-center mt-6 my-5">
                    <h1 data-aos="fade-up" class="text-dark pt-4">ABOUT</h1>
                    <div class="border-top border-primary w-25 mx-auto my-4"></div>
                    <p data-aos="fade-up"  class="lead ">For all of the champions in this world</p>
                </div>
            <div class="row">
                <div class="col-md-6 col-ms-12">
                    <h2 data-aos="fade-up">what do you want to know?</h2>
                    <p data-aos="fade-up" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error,
                        excepturi. Ducimus, temporibus. Sed consequuntur, aliquam iure sit
                        quidem, beatae qui molestiae quod voluptas architecto dolore,
                        delectus similique enim? Totam, repellat.</p>
                    <a data-aos="fade-up"  href="#about" class="btn btn-light my-4">About More...</a>

                    <div  data-aos="fade-up-right" class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button btn-trans" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              My Hobbies
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds 
                              the appropriate classes that we use to style each element. These classes control the overall appearance, 
                              as well as the showing and hiding via CSS transitions. 
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed btn-trans" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              My Qualification
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the 
                              collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall 
                              appearance, as well as the showing and hiding via CSS transitions. 
                
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed btn-trans" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              My Dreams
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds 
                              the appropriate classes that we use to style each element. These classes control the overall 
                              appearance, as well as the showing and hiding via CSS transitions. 
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

                <div data-aos="fade-up-left" class="col-md-6 col-ms-12 m-auto">
                    <img  src="{% static 'img/about.svg' %}" alt="" class="img-fluid img-thumbnail w-60">
                </div>
            </div>
        </div>
    </Section>
    <!--SECTION AND -->