{% load static %}

<!--SECTION NAV END BANNER-->
<section id="home">
    <header>

        <!-- Top Bar -->

        <div class="top-bar">
            <div class="container">
                    <div class="col-ms-12 ms-auto justify-content-end">
                        <p><a href="tel:+244 934 038 572"> Call us at 1 (+244) Sensa  <a href="#"><i class="fa-brands fa-facebook fa-beat"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-beat-fade"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp fa-beat"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram fa-beat"></i></a>
                        
                        </a></p>
                    </div>
                
            </div>
        </div>

        <!-- End Top Bar -->

        <nav id="home" class="navbar navbar-expand-lg bg-transparent">
            <div class="container">
                <a class="navbar-brand" href="#home">  <i class="fa-solid fa-code fa-beat"> </i> Sensacional</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto text-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#home">    <i class="fa-solid fa-house fa-beat"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#service">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#publisher">Publisher</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

    </header>

    <!--SECTION BANNER-->

    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-ms-12">
                    <div class="banner-desc">
                        <h1 data-aos="fade-up"  class="title">Services Sensationally good effects</h1>
                        <p data-aos="fade-up"  class="desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit
                            dolorem ducimus enim modi a! Voluptas, aperiam sit, odit nesciunt labore
                            architecto explicabo fugiat quae aut aliquid, vitae porro facere ea!</p>
                        <a data-aos="fade-up"  href="#about" class="btn btn-trans">Explore More</a>
                    </div>
                </div>
                <div class="col-md-7 col-ms-12 banner2">
                    <img src="{% static 'img/banner2.svg' %}" name="banner" alt="">
                </div>
            </div>
        </div>
    </section>


</section>
<!--SECTION AND-->
