 {% load static %}
 
 <!--SECTION  Publisher -->
 <section id="publisher" class="publisher bg-light">
  <div class="container">
    <div class="col-ms-12 text-center mt-6 my-5">
        <h1 data-aos="fade-up"  class="text-dark pt-4">PUBLISHER</h1>
        <div class="border-top border-primary w-25 mx-auto my-4"></div>
        <p data-aos="fade-up"  class="lead ">For all of the champions in this world</p>
    </div>

    <div  class="row">
    {% for produto in produtos  %}
        <div class="col-md-4 col-ms-12">
            <div  data-aos="flip-left"  class="card">
                <div class="card-body">
                  <h5 class="card-title"> {{ produto.title }} </h5>

                  <img class="card-img-top"   src="{{ produto.imagem.url }}" alt=""></a>
                  <a href="#" class="btn btn-transi">Go somewhere</a>
                </div>
            </div>
        </div>
 {% endfor %}
    </div>
     
</div>
</section>
<!--SECTION  AND-->