{% load static %}
  
  
  <!--SECTION SERVICE -->
    <section id="service" class="service my-5 bg-light">
        <div class="container">
            <div class="col-ms-12 text-center mt-6 my-5">
                <h1 data-aos="fade-up"  class="text-dark pt-4">SERVICES</h1>
                <div class="border-top border-primary w-25 mx-auto my-4"></div>
                <p data-aos="fade-up"  class="lead ">For all of the champions in this world</p>
            </div>

            <div  class="row">
              {% for servico in servicos  %}
                <div class="col-md-4 col-ms-12">
                    <div  data-aos="flip-left"  class="card">
                        <div class="card-body">
                          <i class="fa-solid fa-code fa-beat"></i>
                          <h5 class="card-title">{{ servico.title }}</h5>
                          <p class="card-text">{{ servico.desc }}</p>
                          <a href="#" class="btn btn-transi">Go somewhere</a>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
      </section>
    <!--SECTION  AND-->
