{% load static %}
  
  
  <!--SECTION SERVICE -->
    <section id="service" class="service my-5 bg-light">
        <div class="container">
            <div class="col-ms-12 text-center mt-6 my-5">
                <h1 data-aos="fade-up"  class="text-dark pt-4">SERVICES</h1>
                <div class="border-top border-primary w-25 mx-auto my-4"></div>
                <p data-aos="fade-up"  class="lead ">For all of the champions in this world</p>
            </div>
            <div  class="row">
                <div class="col-md-4 col-ms-12">
                    <div  data-aos="flip-left"  class="card">
                        <div class="card-body">
                          <i class="fa-solid fa-code fa-beat"></i>
                          <h5 class="card-title">Web Developer</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-transi">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div   class="col-md-4 col-ms-12">
                    <div data-aos="flip-up" class="card">
                        <div class="card-body">
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-transi">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 col-ms-12">
                    <div data-aos="flip-right"  class="card">
                        <div class="card-body">
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-transi">Go somewhere</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
      </section>
    <!--SECTION  AND-->
